/*Univeral Styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Rooting the colors*/
:root{
   
    --green-lighter: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-medium: hsl(186, 15%, 59%);
    --grey-darker: hsl(187, 24%, 22%);
}

body{
    background-color: var(--green-lighter);
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    display: grid;
    place-content: center;
}

label {
    color: var(--grey-darker);
}

input[type='text'], input[type='email'], textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: inherit;
    border: 1px solid var(--grey-medium);
    border-radius: 0.35rem;
}

input:focus, textarea:focus {
    outline: 1px solid var(--green);
    border: 1px solid var(--green);

}

input[type='text'].form-error, input[type='email'].form-error{
    border: 1px solid var(--red);
}

#required{
    color: var(--green);
}

#form-alert{
    display: none;
    color: var(--red);
    margin-top: 0.5rem;
}

.contact-form{
    background-color: var(--white);
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}
.contact-form h1{
    color: var(--grey-darker);
    margin-bottom: 1.25rem;
}

.contact-form .form-item{
    margin-bottom: 1.5rem;

}
input:hover {
    cursor: pointer;
    outline: 1px solid var(--green);
    
    
}

.first-last-flex{
    display: flex;
    gap: 1rem;
}

.radio-inputs {
    margin-top:  0.5rem;
    display: flex;
    gap: 1rem;
}
.radio-inputs .radio-option{
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    outline: 1px solid var(--grey-medium);
    border-radius: 0.35rem;
}
.radio-inputs .radio-option:active {
    background-color: var(--green-lighter);
}


input[type='radio'] {
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    outline: solid 2px var(--green);
    outline-offset: 3px;
    border-radius: 50%;
}
input[type='radio']:checked{
    background-color: var(--green);
}

.radio-inputs .radio-option label {
    cursor: pointer;
    width: 100%;
}

#message{
    margin-bottom: 1rem;
    
}

input[type='checkbox']{
    cursor: pointer;
    accent-color: var(--green);
}

.submit-btn{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.35rem;
    border: none;
}

.submit-btn:hover {
    background-color: var(--grey-darker);
}
.success-message{
    background-color: var(--grey-darker);
    color: var(--green-lighter);
    width: max-content;
    padding: 1rem;
    pointer-events: none;
    position: fixed;
    top: 10%;
    left: 40%;
    border-radius: 0.35rem;
    display: none;
}

@media only screen and (max-width: 768px){
    .first-last-flex{
        display: block;
        
    }
    .radio-inputs {
        margin-top:  0.5rem;
        display: block;
        margin-bottom: 1.5rem;
        
    
    }
    .radio-inputs .radio-option{
        cursor: pointer;
        width: 100%;
        padding: 0.5rem 1rem;
        display: block;
        align-items: center;
        margin-bottom: 1rem;
        outline: 1px solid var(--grey-medium);
        border-radius: 0.35rem;
        
    }
    input[type='radio'] {
        appearance: none;
        width: 0.5rem;
        height: 0.5rem;
        outline: solid 2px var(--green);
        outline-offset: 3px;
        border-radius: 50%;
        margin-right: 1.2rem;
}
.success-message{
    background-color: var(--grey-darker);
    color: var(--green-lighter);
    width: max-content;
    padding: 1rem;
    pointer-events: none;
    position: fixed;
    top: 10%;
    left: 10%;
    border-radius: 0.35rem;
    display: none;
}
}
    
